<form  method="post">
<table>
    <tr>
        <td>المؤلف</td>
        <td><input type="text" name="author_input" id=""></td>
    </tr>
    <tr>
        <td>الرواية</td>
        <td><input type="text" name="book_input" id=""></td>
    </tr>
    <tr>
        <td>البلد</td>
        <td><input type="text" name="national_input" id=""></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="أضافة"></td>
    </tr>
</table>
<p><a href="{{url_for('edit_author_national_book_form')}}"> update page </a>| <a href="{{url_for('get_table')}}"> page </a>|<a href="{{url_for('delete_form')}}"> Delete page </a></p>

{{data|safe}}
</form>